<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chapter5</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="bi bi-arrow-left-right nav_adjust" aria-hidden="true"></span> Isolated CSS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttonsvar">
                <span class="bi bi-bookmark-check nav_adjust" aria-hidden="true"></span> Isolated Var CSS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scoped">
                <span class="bi bi-arrow-up-square nav_adjust" aria-hidden="true"></span> Scoped CSS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="anibutton">
                <span class="bi bi-menu-button-fill nav_adjust" aria-hidden="true"></span> Animated Button
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spinner">
                <span class="bi  bi-arrow-clockwise nav_adjust" aria-hidden="true"></span> Spinner
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="triggerModal">
                <span class="bi bi-ui-checks  nav_adjust" aria-hidden="true"></span> Modal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animatedbox">
                <span class="bi bi-box nav_adjust" aria-hidden="true"></span> Animated Box
            </NavLink>
        </div>
    </nav>
</div>

