@page "/panelSample"

@using Chapter2.Components.Controls

<h3>Panel Sample</h3>

<!-- Usage of Panel component -->
<PanelComponenet Title="Panel Title">
    <p>This is the panel's body content.</p>
</PanelComponenet>


@code {

}
